<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
        <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <link href="<%= "css/main.css" %>" rel="stylesheet">
  </head>

  <body>
            <div id="react-app"></div>
        </h1>
        <p class="lead">We're pretty thrilled to unveil our latest creation. Sign up below to be notified when we officially launch!</p>
        <p><a class="btn btn-lg btn-success"  data-toggle="modal" href="#signupModal">Sign up today</a></p>
      </div>

      <div class="footer">
        <p>&copy; A Nu Startup 06Sept2016</p>
      </div>
    </div> <!-- /container -->

    <script src="<%= "/bundle.js" %>"></script>
    	  <% if (local_debug) { %>
    	      <script src="http://localhost:35729/livereload.js"></script>
          <% } %>

  </body>
</html>